@import "tailwindcss";

@theme {
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --animate-wiggle: wiggle 1s ease-in-out infinite;
    @keyframes wiggle {
        0%,
        100% {
            transform: rotate(-3deg)
        }
        50% {
            transform: rotate(20deg)
        }
    }
}

:root {
  --background: #E5F0FF;
  --foreground: #000E24;
  --primary: #003D99;
  --accent: #CCE0FF;
}

:root.dark {
  --background: #000E24;
  --foreground: #E5F0FF;
  --primary: #0052CC;
  --accent: #001433;
  --surface: #001433;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
}

button {
    @apply transition duration-300 ease-in-out;
    &:hover {
        @apply transform scale-105;
    
    @apply cursor-pointer;
    }
}
