@import "tailwindcss";

@theme {
    --animate-wiggle: wiggle 1s ease-in-out infinite;
    @keyframes wiggle {
        0%,
        100% {
            transform: rotate(-3deg)
        }
        50% {
            transform: rotate(20deg)
        }
    }
}

button {
    @apply transition duration-300 ease-in-out;
    &:hover {
        @apply transform scale-105;
    
    @apply cursor-pointer;
    }
}
